<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sneakers Daily | Kategori</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="mt-16 flex justify-center">
      <div class="my-5">
        <h1 class="text-lg font-bold">Form Edit Kategori</h1>
        <form action="{% url 'updatekategori' kategori.id %}" method="post">
          {% csrf_token %}
          <div class="mb-4 mt-5">
            <label
              for="UserEmail"
              class="block text-md font-medium text-gray-700"
            >
              Nama Kategori
            </label>

            <input
              type="text"
              id="nama_kategori"
              name="nama_kategori_field"
              placeholder="john@rhcp.com"
              value="{{kategori.nama_kategori}}"
              class="mt-1 w-full rounded-md border-2 px-2 py-1 border-gray-600 shadow-sm sm:text-sm"
            />
          </div>
          <button
            type="submit"
            class="bg-green-600 text-white px-2 py-2 rounded-md"
          >
            Update Kategori
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
